ollama

schedule
PyDrive
google-api-python-client
google-auth
google-auth-oauthlib

fastapi
uvicorn
requests
ngrok

pytesseract
pdf2image
crewai
sqlalchemy
supabase
langchain 
langchain-community 
langchain-ollama
